/* MARIO THEME COLORS */

*,
*::before,
*::after {
  color: var(--mario-theme-white);
}

.content {
  background-color: var(--mario-theme-blue);
}

.board-area {
  background-color: var(--mario-theme-brown);
  box-shadow: 0px 0px 40px var(--mario-theme-white);
}

.board-button {
  background-color: var(--mario-theme-orange);
  color: var(--mario-theme-white);
}

.board-button:hover {
  background-color: var(--mario-theme-brown);
}

.info-bar-area {
  background-color: var(--mario-theme-dark-green);
  box-shadow: 0px 0px 40px var(--mario-theme-white);
  border: 8px solid var(--mario-theme-light-green);
}

.button {
  background-color: var(--mario-theme-brown);
  border: 4px solid var(--mario-theme-orange);
  box-shadow: none;
}

.button:hover {
  background-color: var(--mario-theme-orange);
}

.winning-board {
  border: 25px double var(--mario-theme-orange);
  box-shadow: 0px 0px 200px var(--mario-theme-white);
}
